.mejs-controls {

	.mejs-show-playlist button,
	.mejs-hide-playlist button,
	.mejs-prevtrack button,
	.mejs-nexttrack button,
	.mejs-shuffle-on button,
	.mejs-shuffle-off button {
		background: transparent url(controls-playlist.png) no-repeat;
	}

	.mejs-show-playlist button {
		/* Show/Hide Playlist */
		background-position: -16px -16px;
	}
	.mejs-hide-playlist button {
		background-position: -16px 0;
	}

	.mejs-prevtrack button {
		/* Previous Track */
		background-position: 0 -16px;
	}

	.mejs-shuffle-on button {
		/* Shuffle Tracks on/off */
		background-position: -32px 0;
	}
	.mejs-shuffle-off button {
		background-position: -32px -16px;
	}
}

.mejs-container {
	display: inline-block;

	.mejs-overlay-loading {
		background-color: transparent;
		width: 220px;
		margin: -40px 0 0 -110px;

		span {
			width: 220px;
			background-size: contain;
		}
	}
	.mejs-poster {
		background-size: cover;
	}
	.mejs-playlist {
		position: absolute;
		left: 0;
		overflow-y: auto;
		background-size: 100%;
		width: 100%;
		user-select: none;

		background-size: cover;
		background-position: 50% 50%;

		ul {
			margin: 0 0 30px 0;
			padding: 0;
			user-select: none;

			li {
				margin: 0;
				padding: 0;
				height: 44px;
				cursor: pointer;

				&:before {
					content: " ";
					display: block;
					height: 44px;
					border-top: 1px solid white;
					border-bottom: 1px solid black;

					background-color: rgba(50, 50, 50, 0.7);
					background-image: url(mep-playlist-icons.png);
					background-position: right 10px top 100px;
					background-repeat: no-repeat;
				}
				&:hover {
					&:before {
						background-color: rgba(44,124,145,0.8);
						background-position: right 10px top -28px;
					}
				}
				span {
					position: relative;
					top: -44px;
					display: block;
					padding: 8px 50px 10px 10px;
					height: 24px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					color: white;
					font-size: 14px;
					line-height: 26px;
				}

			}
		}
	}

	&.mep-playing .mejs-playlist ul li.current {
		&:before {
			background-position: right 10px top -328px
		}
		&:hover:before {
			background-position: right 10px top -228px
		}
	}

	&.mep-paused .mejs-playlist ul li.current {
		&:before {
			background-position: right 10px top -128px
		}
	}
}



/* "slider" playlist */
.mejs-container.mep-slider {
	.mejs-playlist {
		overflow: hidden;

		ul {
			width: 100%;
			height: 100%;
			overflow: hidden;
			white-space: nowrap;
			margin-bottom: 0 !important;
			background: radial-gradient(circle, grey, black);

			li {
				height: 100%;
				display: inline-block;
				width: 100%;
				will-change: transform;
				transition: transform 0.5s ease-in-out;
				background-size: 100%;
				background-repeat: no-repeat;

				span {
					top: 100%;
					margin-top: -7px;
					position: absolute;
					height: 44px;
					margin-bottom: -44px;
					display: inline-block;
				}

				&:before {
					position: absolute;
					border: none;
					background-color: transparent;
					background-image: url(bigplay.png);
					background-position: right 10px top 0px;
					top: 50%;
					left: 50%;
					width: 100px;
					height: 100px;
					margin: -50px 0 0 -50px;
					opacity: 1;

				}
				&:hover:before {
					background-position: right 10px top -100px;
				}
			}
		}
	}
	&.mep-playing .mejs-playlist ul li.current {
		&:before {
			/* should show pause symbol */
			background-position: right 10px top -200px;
		}
		&:hover:before {
			/* should show hovered pause symbol */
			background-position: right 10px top -300px;
		}
	}
	&.mep-paused .mejs-playlist ul li.current {
		&:before {
			/* should show play symbol */
			background-position: right 10px top -0px;
		}
		&:hover:before {
			/* should show hovered play symbol */
			background-position: right 10px top -100px;
		}
	}
}

.mejs-container.mep-slider .mejs-playlist > a {
	position: absolute;
	top: 50%;
	display: inline-block;
	height: 100px;
	width: 100px;
	opacity: 0.9;
	cursor: pointer;
	background: transparent url(bigplay.png) left -400px no-repeat;
	margin-top: -75px;

	&.mep-prev {
		user-select: none;

		&:hover {
			background-position: left -500px;
		}
	}

	&.mep-next {
		right: 0;
		background-position: left -600px;
		user-select: none;

		&:hover {
			background-position: left -700px;
		}
	}
}
